<div class="dropDownBox">   
    <a id="addCatBtn" class="addItemBtn"><i class="fas fa-plus" id="addCatIcon"></i></a>
    <div class="dropDownMenu d-none" id="addCatMenu" style="margin-top: 60px;">
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP1')" id="ca-aOP1">Pizza</button>
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP2')" id="ca-aOP2">Chicken</button>
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP3')" id="ca-aOP3">Burger</button>
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP4')" id="ca-aOP4">Italian</button>
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP5')" id="ca-aOP5">Mexican</button>
        <button type="button" onclick="addToField('categoryTF', 'ca-aOP6')" id="ca-aOP6">Chinese</button>
    </div>
</div>
<div class="dropDownBox">   
    <a id="removeCatBtn" class="removeItemBtn"><i class="fas fa-minus" id="removeCatIcon"></i></a>
    <div class="dropDownMenu d-none" id="removeCatMenu" style="margin-top: 60px;">
        
    </div>
</div>