<div class="dropDownBox" style="z-index: 1;" >   
    <a id="addCityBtn" class="addItemBtn"><i class="fas fa-plus" style="z-index: 0;" id="addCityIcon"></i></a>
    <div class="dropDownMenu d-none" id="addCityMenu" style="margin-top: 60px;">
        <button type="button" onclick="addToField('cityTf', 'ci-aOP1')" id="ci-aOP1">Ramallah</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP2')" id="ci-aOP2">Bethlehem</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP3')" id="ci-aOP3">Hebron</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP4')" id="ci-aOP4">Nablus</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP5')" id="ci-aOP5">Jericho</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP6')" id="ci-aOP6">Qalqilyah</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP7')" id="ci-aOP7">Tulkarm</button>
        <button type="button" onclick="addToField('cityTf', 'ci-aOP8')" id="ci-aOP8">Jenin</button>
    </div>
</div>
<div class="dropDownBox" style="z-index: 0;">   
    <a id="removeCityBtn" class="removeItemBtn"><i class="fas fa-minus" style="z-index: 0;" id="removeCityIcon"></i></a>
    <div class="dropDownMenu d-none" id="removeCityMenu" style="margin-top: 60px;">
        
    </div>
</div>