<div id="topBox">
    <a class="logo" href="/dashboard">Feed<span>Me</span></a>
    <form id="searchField" action="/dashboard" method="POST">
        <input type="text" name="resName" placeholder="Look for a Restaurant">
        <input type="submit" value="">
    </form>
    <div style="margin-top: 20px; text-align: center;">
        <a href="/dashboard/new" class="btn">Add Restaurant</a>
        <a href="#" class="btn" id="out">Log Out</a>
    </div>
</div>