.row {
    display: flex;
    max-width: 750px;
    margin: 15px auto;
}

h3 {
    font-size: 17.5px;
    margin: 0;
    margin-top: 12.5px;
}
#resInfo img {
    max-width:300px;
    align-self:center;
    margin-bottom: 25px;
}
.btns-box {
    width:622px; 
    margin-left: auto; 
    display: flex; 
    justify-content: center;
}
.reviews-container {
    justify-content: center;
}